body{
    font-family: cursive;
}
header{
    position: relative;
    isolation: isolate;
}
#header_wrapper{
    font-family: Open Sans;
    display: flex;
    flex-direction: row;
    padding-inline: 4rem;
    gap: 2rem;
    justify-content: space-between;
    background-color: gray;
    z-index: 1000;
}

#header_wrapper nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#header_wrapper nav a, h5{
    font-size: 1.5rem;
    font-weight: 500;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    transition: all 0.5s ease;
}
#header_wrapper aside{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    padding-inline: 1rem;
    padding-block: 0.3rem;
    letter-spacing: 0.01rem;
    transition: all 0.5s ease;
}
#header_wrapper nav a:hover{
    color: wheat;
}

h3 {
    padding-block: 0.5rem;
    font-size: 3rem;
    text-align: center;
    font-family: Open Sans;
    letter-spacing: 0.05rem;
    font-weight: 600;
}
h4{
    font-size: 1.5rem;
    text-align: center;
}
h5{
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.contenedor_animales{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-block: 2rem;
}
.carta_animal{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    gap: 1rem;
    background-color: rgb(211, 255, 238);
    border-radius: 1rem;
    border: 0.1rem solid rgb(192, 192, 192);
}
.carta_animal img{
    background-color: gray;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 1rem;

}
.icon_title{
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.app_logo{
    background-image: url('../img/happy_cat2.png');
    background-size: cover;
    background-position: center;
    height: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
}
.login_form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.login_form:last-child() {
    margin-top: 1rem;
}
button[type=submit], input[type=text], input[type=password], .button_submit{
    border: 0.05rem solid black;
    padding-inline: 0.5rem;
    padding-block: 0.1rem;
    border-radius: 0.5rem;
}

button[type=submit], .button_submit{
    padding-inline: 1rem;
    padding-block: 0.3rem;
    transition: all 0.25s ease-in;
}
button[type=submit]:hover, .button_submit:hover{
    cursor: pointer;
    background-color: #EFC603;
    color: white;
}
a{
    transition: all 0.25s ease-in-out;
}
i{
    font-size: 1.5rem;
}
.contenedor_busqueda{
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 60%;
}
.contenedor_busqueda > button{
    padding-inline: 2rem;
}
#busqueda{
    width: 60%;
}
.mensaje_section {
    position: absolute;
    top: 0%; /* Start at the top of the viewport */
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.3rem;
    opacity: 1;
    z-index: -1;
    transition: top 0.5s ease, opacity 0.5s ease;
    animation-name: showMessage, hideMessage;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards, forwards;
    animation-delay: 0s, 6s; /* 3-second delay before animation starts */
}
.contenedor_buscador{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.admin_menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}
.admin_menu > a{
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
}
button[value='delete'],button[value='edit']{
    font-family: sans-serif;
    font-weight: 200;
}
button[value='delete']{
    background-color: rgb(255, 70, 70);
    color: whitesmoke;
}
button[value='edit']{
    background-color: rgb(184, 246, 255);
    color: black;
}
/* Keyframes for animation */
@keyframes showMessage {
    0% {
        top: 0%; /* Start position (top of the viewport) */
        opacity: 0;
    }
    100% {
        top: 100%; /* End position (below the viewport) */
        opacity: 1;
    }
}
@keyframes hideMessage {
    from {
        top: 100%; /* Start position (top of the viewport) */
        opacity: 1;
    }
    to {
        top: 0%; /* End position (below the viewport) */
        opacity: 0;
    }
}